<thead class="table-secondary">
  <tr>
    <th>Pacote</th>
    <th>Status Pgto.</th>
    <th>Créditos Usados</th>
  </tr>
</thead>
<tbody>
    {% for pacote in pacotes %}
    <tr data-bs-toggle="modal" data-bs-target="#pacoteModal-{{ pacote.id }}" style="cursor: pointer;">
        <td>{{ pacote.creditos_totais }}x {{ pacote.nome_servico }}</td>
        <td>
            {% if pacote.status_pagamento == 'Pendente' %}
                <span class="badge bg-warning text-dark">Pendente</span>
            {% else %}
                <span class="badge bg-success">
                    Pago 
                    {% if pacote.data_pagamento %}
                        em {{pacote.data_pagamento.strftime('%d/%m/%Y')}}
                    {% endif %}
                </span>
            {% endif %}
        </td>
        <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ (pacote.creditos_usados / pacote.creditos_totais) * 100 }}%;" aria-valuenow="{{ pacote.creditos_usados }}" aria-valuemin="0" aria-valuemax="{{ pacote.creditos_totais }}">
                    {{ pacote.creditos_usados }} de {{ pacote.creditos_totais }}
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</tbody>